/.lake
/.venv-blueprint
/.venv-blueprint313
/blueprint/web
/blueprint/print
/blueprint/lean_decls
/blueprint/src/*.aux
/blueprint/src/*.fdb_latexmk
/blueprint/src/*.fls
/blueprint/src/*.log
/blueprint/src/*.out
/blueprint/src/*.pdf
/blueprint/src/*.synctex.gz
/blueprint/src/*.toc
/blueprint/src/*.paux
/home_page/_site
